.v1_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  justify-items: center;
}


.column {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.atm {
  margin-top: 20px;
  text-align: center;
}

.atm-image {
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.buttons button {
  width: 200px;
  margin-bottom: 10px;
  background-color: #ffa200;
  color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #d18616;
}

.buttons .ganadoras {
  background-color: rgb(17, 255, 17);
}

.buttons .ganadoras:hover {
  background-color: rgb(39, 162, 39);
}

.buttons .perdedoras {
  background-color: red;
}

.buttons .perdedoras:hover {
  background-color: rgb(156, 22, 22);
}

.retiro {
  width: 200px;
  margin-top: 30px;
  background-color: #ffa200;
  color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.retiro:hover {
  background-color: #d18616;
}

.salir {
  width: 200px;
  margin-top: 30px;
  align-self: flex-end;
  background-color: red;
  color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.salir:hover {
  background-color: #b71c1c;
}

.btn:hover {
  opacity: 0.7;
}
