.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.salir {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.7;
}
