.v1_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    justify-items: center;
  }
  
  
  .column {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  
  .atm {
    margin-top: 20px;
    text-align: center;
  }
  
  .atm-image {
    width: 100%;
    height: auto;
  }


.form-container {
    width: 50%;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
}


select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.retiro,
.salir {
    width: 100%;
    margin-top: 20px;
    background-color: #ffa200;
    color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.salir {
    background-color: red;
}

.retiro:hover,
.salir:hover {
    background-color: #f55212;
}
