<option value="bancolombia">Bancolombia</option>
<option value="banco_de_bogota">Banco de Bogotá</option>
<option value="davivienda">Banco Davivienda</option>
<option value="banco_de_occidente">Banco de Occidente</option>
<option value="bbva_colombia">BBVA Colombia</option>
<option value="banco_av_villas">Banco AV Villas</option>
<option value="banco_caja_social">Banco Caja Social</option>
<option value="banco_falabella">Banco Falabella</option>
<option value="banco_gnb_sudameris">Banco GNB Sudameris</option>
<option value="banco_pichincha">Banco Pichincha</option>
<option value="banco_popular">Banco Popular</option>
<option value="banco_procredit">Banco ProCredit</option>
<option value="banco_santander">Banco Santander</option>
<option value="banco_cooperativo_coopcentral">Banco Cooperativo Coopcentral</option>
<option value="colpatria">Colpatria</option>
<option value="itaú">Itaú</option>
<option value="citibank">Citibank</option>