{% extends "BetNow/layout.html" %}
{% load static %}

{% block header %}
    <header>
        <div class="logo">
            <img src="{{ logo }}" alt="Logo" class="logo">
        </div>
        <div class="Titulo_usuario">
            <h2>Consultas</h3>
        </div>
        <div class="welcome">
            <h3>Hola, {{ user.first_name }}</h3>
        </div>
        <div>
            <img src="{{ Avatar }}" alt="User avatar" class="user-avatar" id="user-avatar">
            <ul class="dropdown-opciones-usuario">
                <li><a href="#">Editar datos</a></li>
                <li><a href="{% url 'consultas_usuario' request.user.first_name %}">Consultas</a></li>
                <li><a href="#">Agregar dinero a cuenta</a></li>
                <li><a href="#">Retirar dinero</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
        </div>
    </header>
    <script src="{% static 'BetNow/js/opciones_usuario.js' %}"></script>
{% endblock %}
{% block nav %}
    <nav>
        <a href="{% url 'inicio' %}" class="nav_button"><strong>Inicio</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Mis Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Ligas</strong></a>
    </nav>
{% endblock %}
{% block body %}
<body>
    <div class="v1_2">
        <span class="v5_7">Dinero Actual</span><span class="v5_10">Cantidad $</span><span class="v5_12">Historial
            de Transacciones</span>
        <div class="v16_7">
            <div class="v5_13"></div><span class="v5_14">Realizar Retiro</span>
        </div>
        <div class="v16_12">
            <div class="v5_23"></div><span class="v5_24">Apuestas Ganadoras</span>
        </div>
        <div class="v16_13">
            <div class="v5_25"></div><span class="v5_26">Apuestas Perdedoras</span>
        </div>
        <div class="v16_10">
            <div class="v5_21"></div><span class="v5_22">Retiros</span>
        </div>
        <div class="v16_11">
            <div class="v5_19"></div><span class="v5_20">Detalles Apuesta</span>
        </div>
        <div class="v16_9">
            <div class="v5_17"></div><span class="v5_18">Deposito</span>
        </div>
        <div class="v16_8">
            <div class="v5_15"></div><span class="v5_16">Salir</span>
        </div>
        <div class="v19_65"></div>
        <div class="v23_826"></div>
    </div>
</body>
{% endblock %}