{% extends "BetNow/usuario_inicio.html" %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'BetNow/css/consultas_usuario.css' %}">
{% endblock %}
{% block titulo %}
    <h1 class="titulo">Consultas</h1>
{% endblock %}

{% block body %}
<body>
    <div class="v1_2">
        <div class="column">
            <div class="title">Dinero Actual {{ saldo }}</div>
            <div class="atm">
                <img src="{{ ATM }}" alt="ATM" class="atm-image">
            </div>
        </div>
        <div class="column">
            <div class="title">Historial de Transacciones</div>
            <div class="buttons">
                <button type="button" class="deposito_btn" id="deposito_btn" data-url="{% url 'deposito' %}">Depósito</button>
                <button type="button" class="retiro_btn" id="retiro_btn" data-url="{% url 'retiro' %}" class="retiros">Retiro</button>
                <button class="detalles">Detalles de Apuestas</button>
                <button class="ganadoras">Apuestas Ganadoras</button>
                <button class="perdedoras">Apuestas Perdedoras</button>
            </div>
        </div>
        <div class="column">
            <div class="ir_inicio">
                <div class="title">Ir a inicio</div>
                <button type="button" class="btn salir" id="salir-button" data-url="{% url 'inicio' %}">Salir</button>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }}
    {% endblock %}
</body>
{% endblock %}

