{% extends "BetNow/layout.html" %}
{% load static %}

{% block header %}
    <header>
        <div class="logo">
            <img src="{{ logo }}" alt="Logo" class="logo">
        </div>
        <div class="Titulo_usuario">
            <h2>Consultas</h3>
        </div>
        <div class="welcome">
            <h3>Hola, {{ user.first_name }}</h3>
        </div>
        <div>
            <img src="{{ Avatar }}" alt="User avatar" class="user-avatar" id="user-avatar">
            <ul class="dropdown-opciones-usuario">
                <li><a href="#">Editar datos</a></li>
                <li><a href="{% url 'consultas_usuario' request.user.first_name %}">Consultas</a></li>
                <li><a href="#">Agregar dinero a cuenta</a></li>
                <li><a href="#">Retirar dinero</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
        </div>
    </header>
    <script src="{% static 'BetNow/js/opciones_usuario.js' %}"></script>
{% endblock %}

{% block nav %}
    <nav>
        <a href="{% url 'inicio' %}" class="nav_button"><strong>Inicio</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Mis Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Ligas</strong></a>
    </nav>
{% endblock %}

{% block body %}
<body>
    <div class="v1_2">
        <div class="column">
            <div class="title">Dinero Actual</div>
            <div class="atm">
                <img src="{{ ATM }}" alt="ATM" class="atm-image">
            </div>
        </div>
        <div class="column">
            <div class="title">Cantidad $</div>
            <button class="retiro">Dinero Actual</button>
            <button type="button" class="btn salir" id="salir-button" data-url="{% url 'inicio' %}">Salir</button>
        </div>
        <div class="column">
            <div class="title">Historial de Transacciones</div>
            <div class="buttons">
                <button class="deposito">Depósito</button>
                <button type="button" class="retiro_btn" id="retiro_btn" data-url="{% url 'realizar_retiro_usuario' request.user.first_name %}" class="retiros">Retiro</button>
                <button class="detalles">Detalles de Apuestas</button>
                <button class="ganadoras">Apuestas Ganadoras</button>
                <button class="perdedoras">Apuestas Perdedoras</button>
            </div>
        </div>
    </div>   
</body>
<script src="{% static 'BetNow/js/consultas_usuario.js' %}"></script>
{% endblock %}
