<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_2">
        <div class="v1_3"></div>
        <div class="v19_74"></div><span class="v1_4">CONSULTAS</span><span class="v1_5">Usuario</span>
        <div class="v1_6"></div>
        <div class="v5_11"></div>
        <div class="v16_4">
            <div class="v3_4"></div><span class="v3_6">Consultar Eventos</span>
        </div>
        <div class="v16_3">
            <div class="v3_2"></div><span class="v3_3">Inicio</span>
        </div>
        <div class="v16_5">
            <div class="v5_2"></div><span class="v5_3">Consultar mis Apuestas</span>
        </div>
        <div class="v16_6">
            <div class="v5_4"></div><span class="v5_6">Ligas</span>
        </div><span class="v5_7">Dinero Actual</span><span class="v5_10">Cantidad $</span><span class="v5_12">Historial
            de Transacciones</span>
        <div class="v16_7">
            <div class="v5_13"></div><span class="v5_14">Realizar Retiro</span>
        </div>
        <div class="v16_12">
            <div class="v5_23"></div><span class="v5_24">Apuestas Ganadoras</span>
        </div>
        <div class="v16_13">
            <div class="v5_25"></div><span class="v5_26">Apuestas Perdedoras</span>
        </div>
        <div class="v16_10">
            <div class="v5_21"></div><span class="v5_22">Retiros</span>
        </div>
        <div class="v16_11">
            <div class="v5_19"></div><span class="v5_20">Detalles Apuesta</span>
        </div>
        <div class="v16_9">
            <div class="v5_17"></div><span class="v5_18">Deposito</span>
        </div>
        <div class="v16_8">
            <div class="v5_15"></div><span class="v5_16">Salir</span>
        </div>
        <div class="v5_27"></div><span class="v5_28">"¡Atención! Por favor, asegúrese de proteger su información
            personal mientras utiliza nuestros servicios. Tenga en cuenta que cualquier pérdida de información personal
            debido a negligencia por parte del usuario es responsabilidad exclusiva del usuario. ¡Gracias por su
            atención y por usar nuestros servicios con responsabilidad!</span>
        <div class="v19_65"></div>
        <div class="v23_826"></div>
    </div>
</body>

</html>