{% extends "BetNow/usuario_inicio.html" %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'BetNow/css/deposito.css' %}">
{% endblock %}
{% block titulo %}
    <h1 class="titulo">Historial de Depósitos</h1>
{% endblock %}

{% block body %}
    <div class="historial-depositos">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for deposito in depositos %}
                <tr>
                    <td>{{ deposito.fecha }}</td>
                    <td>{{ deposito.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block scripts %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
