{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'BetNow/css/style.css' %}">
    <title>Bet Now</title>
    <link rel = "icon" href="{{ logo }}" type ="img/icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- CSRF Setup Script -->
    <script>
        // Add this code to make the CSRF token available for AJAX requests
        var csrftoken = '{{ csrf_token }}';

        function csrfSafeMethod(method) {
            // These HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ logo }}" alt="Logo" class="logo">
        </div>
        <div class="login">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="login-btn">Log in</button>
            <button class="signup-btn" > <a href="{% url 'Registro' %}" class="btn-registro">Sign up</a></button>
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>
    </header>
    <nav>
        <a href="{% url 'index' %}" class="nav_button"><strong>Inicio</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Consultar Mis Apuestas</strong></a>
        <a href="#" class="nav_button"><strong>Ligas</strong></a>
    </nav>
    {% block body %}

    {% endblock %}
    <footer>
        <p>Bet Now © 2023. Todos los derechos reservados.

            Bet Now es una plataforma de apuestas deportivas en línea que ofrece oportunidades de apuestas en fútbol, baloncesto y tenis. Nos esforzamos por proporcionar un servicio seguro y justo para todos nuestros usuarios, garantizando un juego responsable en todo momento.
            
            Al utilizar este sitio web, usted acepta nuestros Términos y Condiciones y nuestra Política de Privacidad. Para obtener más información, consulte los enlaces a continuación:
            
            Términos y Condiciones
            Política de Privacidad
            Juego Responsable
            Preguntas Frecuentes
            Contacto
            Para cualquier pregunta o inquietud, no dude en ponerse en contacto con nuestro equipo de atención al cliente a través de los canales de comunicación proporcionados en nuestro sitio web.
            
            Bet Now opera bajo las leyes y regulaciones del país en el que está registrada y licenciada. Por favor, juegue de manera responsable y solo si tiene al menos 18 años de edad y cumple con las leyes de apuestas aplicables en su jurisdicción.</p>
    </footer>
</body>
</html>