{% extends "BetNow/usuario_inicio.html" %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'BetNow/css/realizar_retiro_usuario.css' %}">
{% endblock %}
{% block titulo %}
    <h1 class="titulo">Realizar retiro</h1>
{% endblock %}
{% block body %}
<body>
    <div class="v1_2">
        <div class="column">
            <div class="atm">
                <img src="{{ ATM }}" alt="ATM" class="atm-image">
            </div>
        </div>
        <div class="column">
            <div class="form-container">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="title">Saldo actual: {{ user.perfil.saldo }}</div>
                <form action="{% url 'realizar_retiro' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" placeholder="Cantidad a retirar" name="cantidad" required>
                    <select id="metodo-transaccion" name="metodo-transaccion" required>
                        <option value="" disabled selected hidden>Seleccionar un método de transacción</option>
                        {% if user.perfil.banco_set.exists %}
                            <optgroup label="Banco">
                                {% for banco in user.perfil.banco_set.all %}
                                    <option value="bank-{{ banco.id }}">{{ banco.nombre_banco }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                        {% if user.perfil.pse_set.exists %}
                            <optgroup label="PSE">
                                {% for pse in user.perfil.pse_set.all %}
                                    <option value="pse-{{ pse.id }}">{{ pse.banco }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    </select>                                    
                    <button type="submit" class="retiro">Realizar Retiro</button>
                </form>
                <button type="button" class="salir" id="salir-button" data-url="{% url 'inicio' %}">Salir</button>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }}
    {% endblock %}
</body>
{% endblock %}
