<label for="cardholder-name">Nombre del Titular*</label>
<input type="text" id="cardholder-name" name="cardholder-name" required>

<label for="card-number">Número de Tarjeta*</label>
<input type="text" id="card-number" name="card-number" required>

<label for="month">Fecha de expiración*</label>
<input type="text" id="month" name="month" maxlength="2" pattern="\d{2}" placeholder="MM" required> /
<input type="text" id="year" name="year" maxlength="2" pattern="\d{2}" placeholder="AA" required>

<label for="cvv">CVV*</label>
<input type="text" id="cvv" name="cvv" maxlength="2" pattern="\d{2}" required>